[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphynx = "*"
sphinx = "*"
livereload = "*"
myst-parser = "*"
pylint = "*"
sphinx-panels = "*"

[dev-packages]

[requires]
python_version = "3.8"
